<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Multi Browser" parallel="none">

    <test name="Firefox Driver">
        <parameter name="browser" value="FIREFOX"/>
        <classes>
            <class name="testCases.DemoTest"/>
            <!--<class name="testCases.AlertTest"/>-->
        </classes>
    </test>

    <test name="Chrome Driver">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <!--<class name="testCases.DemoTest"/>-->
            <class name="testCases.GenerateTest"/>
            <!--<class name="testCases.DemoTest"/>-->
        </classes>
    </test>
</suite>
